.accordionBox {
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 0;
   flex: 1 1 0%;
   flex-direction: row;

   &:nth-child(1){
      background-image: url('../../../public/OfefrImage1.jpg');
   }
   &:nth-child(2){
      background-image: url();
   }
   &:nth-child(3){
      background-image: url();
   }

   .offerTitle {
      position: absolute;
      left: -90%;
      top: 40%;
      transform: rotate(-90deg);
      white-space:nowrap;
   }

   .content {
      backdrop-filter:  brightness(30%);
   }

   &:hover {
      // flex: 3 0 0%;
      flex-grow: 3;
      transition: flex 0.5s ease-in-out;
      
      .content {
        background: rgba( 3, 7, 61, 0.55 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: opacity 0.45s ease-in-out;
        backdrop-filter:  brightness(60%);

         .offerTitle {
            opacity: 0;
            left: -100%;
            transition: opacity 0.25s ease-in-out;
            white-space: nowrap;
         }      

         .offerText{
            // -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            //         animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            // opacity: 1;
            // transition: opacity 0.45s ease-in-out;
            white-space: pre-wrap;
         }
      }
   }

}

 @-webkit-keyframes puff-in-center {
   0% {
     -webkit-transform: scale(2);
             transform: scale(2);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes puff-in-center {
   0% {
     -webkit-transform: scale(2);
             transform: scale(2);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 