.Aboutimage1 {
    height: 400px !important;
    // width: 100%;
}

.image-box {
    position: relative;
    filter: brightness(80%);

    // &::before {
    //     position: absolute;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background-color: #0a092e;
    //     opacity: 0.;
    // }
}