.heroImageBox {
    // &:nth-child(1),
    // &:nth-child(2),
    // &:nth-child(3) {
    //     overflow-x: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: 0 0;
    //     background-attachment: fixed;
    //     background-image: url('../../public/img1.jpeg');
    // }
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-image: url('../../../public/img1.jpeg');

    // &:nth-child(1){
    // }
    // &:nth-child(2){}
    // &:nth-child(3){}

}