.page-nav {
    background-image: url('../../../public/menu-bg2\ 1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
    // background: rgb(2,0,36);
    // background: linear-gradient(293deg, rgba(2,0,36,1) 30%, rgba(2,0,36,1) 88%, rgba(9,9,121,1) 100%, rgba(10,10,69,1) 100%, rgba(14,27,102,1) 100%); 
}

.NavLinkSpan {
    &::before {
        background-color: currentColor;
        bottom: 0;
        content: "";
        height: .125rem;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.35s ease-in-out;
    }
    
    
    &:hover {

        &::before {
            width: 100%;
        }
    }
}